<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a>
|
<a class="button" routerLink="/sre" routerLinkActive="activebutton">SRE</a>
|
<a class="button" routerLink="/logs" routerLinkActive="activebutton">LOGS</a>
|
<a class="button" routerLink="/alert" routerLinkActive="activebutton">ALERT</a>
|
<a class="button" routerLink="/healthcheck" routerLinkActive="activebutton"
  >HEALTHCHECK</a
>
|
<a class="button" routerLink="/health-dashboard" routerLinkActive="activebutton"
  >DASHBOARD</a
>
<router-outlet></router-outlet>
